<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<h1><%= title %></h1>
<p>Declaro por meio deste a participação de <%= receiver %>, DRE <%= dre %>, da participação no evento <%= reason %></p>
