<html>
  <body>
    <h1>Certificado de Participação</h1>
    <p>Declaro por meio deste a participação de <%= @user.name %>, DRE <%= @user.dre %>, da participação no evento <%= @event.name %></p>
  </body>
</html>
