h1, p {
  color: black;
}

h1 {
  position: relative;
  top: 10%;
  left: 50%;
  width: 33%;
  text-align: center;
  font-size: 40px;
}

p {
  position: relative;
  top: 40%;
  left: 10%;
  font-size: 30px;
}

body {
  width: 297mm;
  height: 210mm;
  margin: 0;
  padding: 0;
  page-break-before: always;
  page-break-inside: avoid;
  page-break-after: always;
}

